<div class="col-md-6">
  <h1>All projects</h1>
  <ul>
    <% collection.each(function (project) { %>
    <li><a href="#<%= project.get('id') %>"><%= project.get('name') %></a></li>
    <% }); %>
  </ul>
  <button class="btn btn-primary" id="add-project">Add project</button>

  <hr />
  <p>
    <label for="import">Import project</label>
    <input type="file" name="import" />
  </p>
  <hr />
  <p>
    <button class="btn btn-default" id="import-sample">Import sample data</button>
  </p>

</div>
<div id="editing" class="col-md-6"></div>
