<h1><% print(model.isNew() ? 'Add' : 'Edit'); %> item</h1>
<div class="form">
  <div class="form-group">
    <label for="item-title">Title</label>
    <input id="item-title" class="form-control" type="text" />
  </div>

  <div class="form-group">
    <label for="item-start-date">Start date</label>
    <input id="item-start-date" class="form-control" type="text" />
    <div id="item-start-validation" class="date-validation"></div>
  </div>

  <div class="form-group">
    <label for="item-end-date">End date (optional)</label>
    <input id="item-end-date" class="form-control" type="text" />
    <div id=item-end-validation" class="date-validation"></div>
  </div>
</div>
<div>
  <button class="btn btn-primary" name="save">Save</button>
  <button class="btn btn-danger pull-right" name="cancel">Cancel</button>
</div>
